{% extends "base.html" %} 
{% block content %}
<main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">
        Создайте короткую ссылку автоматически или предложите свой вариант
      </p>

      <div class="container">
        <div class="row my-3">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <form method="POST" novalidate>
                {{ form.csrf_token }}
                {{ form.original_link(class="form-control form-control-lg py-3 mb-3", placeholder=form.original_link.label.text) }}
                <p>
                  {% if form.original_link.errors %}
                    {% for error in form.original_link.errors %}
                      <span style="color: red">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                </p>
                {{ form.custom_id(class="form-control form-control-lg py-3 mb-3", placeholder=form.custom_id.label.text, rows="3", cols="40")}}
                <p class="text-danger">
                  {% if form.custom_id.errors %}
                    {% for error in form.custom_id.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
                </p>
                {{ form.submit(class="btn btn-primary") }}
              </form>
            <p class="py-3 mb-3">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <span style="color: red">{{ message }}</span>
                      {{ category }}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row ">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            {% if short %}
              <p class="text-center">
                <h6 class="text-center">Ваша новая ссылка готова:</h6>
                <a href="{{ short }}">
                    <h6 class="text-center">{{ short }}</h6>
                </a>
              </p>
            {% endif %}
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>

    </section>
  </main>
{% endblock %}